@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

*{
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px;
}
.cricket-card {
  width: 330px;
  border: 1px solid rgba(0, 0, 0, .06);
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-top: 2px;
  padding-left:10px;
  padding-right: 10px;
}

.cricket-card-title-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.cricket-card-title{
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
}

.cricket-card-format{
  font-size: 12px;
  font-weight: bold;
}
.TEST {
  color: #e90b37;
}

.T20 {
  color: #464646;
}

.cricket-card-subtitle{
  font-size:10px;
}
.cricket-card-toss {
  font-size: 12px;
  font-weight: bold;
}

.cricket-card-toss-title {
  color: red;
}

.cricket-card-status-title{
  color:green;
  font-weight: bold;
  font-size: 12px;

}

.cricket-card-scorecard-wrapper{
  display: flex;
  justify-content: space-between;
}
.cricket-card-score{
  display:flex;
  font-size: 14px;
}
.cricket-card-score-teamName {
  color: brown;
  font-weight: bold;
  margin-right: 2px;
}

.cricket-card-score-runs {
  color: green;
  font-weight: bold;
  margin-right: 2px;
}

.cricket-card-score-wickets {
  color: red;
  font-weight: bold;
  margin-right: 2px;
}

.cricket-card-run-rate-wrapper {
  display: flex;
  font-size: 14px;
}

.crr {
  margin-left: 2px;
  color: #3399ff;
  font-weight: bold;
  margin-right: 2px;
}

.rrr {
  margin-left: 2px;
  color: #d0021b;
  font-weight: bold;
  margin-right: 2px;
}

.runs {
  font-weight: bold;
  color: rgb(29, 14, 203);
}

.balls {
  font-weight: bold;
  color: rgb(124, 54, 54);
}

.striker-name{
  font-weight: bold;
  color:rgba(0, 0, 255, 0.568);
}

.last-wicket {
  text-align: center;
}

.deleteBtn {
  color: #fff;
  border-color: #ff4d4f;
  background: #ff4d4f;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 2px #0000000b;
  cursor: pointer;
}
